.form {
  width: 100%;
  margin: 2em 0;
  font-family: "Courier New", Courier, monospace;
}

.form input {
  border-radius: 10px;
  border-color: #ec53ec;
  font-family: "Courier New", Courier, monospace;
}

.dados-finais h1 {
  font-family: "Courier New", Courier, monospace;
}

.card_dados {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
}
